.slides{
}

.scan-img{
	max-width: 100px!important;
    max-height: 400px!important;
    position: absolute!important;
    top: 550px!important;
    left: 550px!important;
}


/*
.papalote-logo{
	position: relative!important;
	top: 80px!important;
    left: 10px!important;
	width: 506px;
    height: 506px;

}
*/

.papalote-logo{
	position: relative!important;
	top: 80px!important;
    left: 10px!important;
	width: 400px;
    height: 400px;

}

.titulo {
	position: absolute!important;
	/*bottom: 450px!important; */
	top: -30px!important;
    left: 30px!important;
    font-family:CalcitePro-Black!important;
    font-size: 66pt!important;
    color: rgb(255,255,255)!important;
    width: 1150px!important;
    text-transform: none!important;
}

.titulo2 {
	position: absolute!important;
	top: 690px!important;
    left: 30px!important;
    font-family:TheMixB-W8ExtraBold!important;
    font-size: 20pt!important;
    color: rgb(254,197,61)!important;
    width: 1150px!important;
    text-transform: none!important;
}

.fondo-aviso{
    
    
	width: 800px!important;
	height: 560px!important;
}

.texto-aviso{
    position: absolute!important;
	top: 70px!important;
    left: 300px!important;
    width: 606px!important;
	height: 434px!important;
}

.texto-p{
    
    position: absolute!important;
    top: 70px!important;
    left: 15px!important;
    font-size: 22px!important;
    color: rgb(103,44,17)!important;
    font-family: TheMixB-W6SemiBold!important;
    text-align: left!important;
}
.titulo-aviso{
    font-size: 33pt!important;
    color: rgb(103,44,17)!important;
    font-family: TheMixB-W9Black!important;
    
}

.btn-acepto {
	position: absolute!important;
	top: 400px!important;
	left: 320px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/acepto1.png') no-repeat!important;
}

.btn-acepto:hover {
	background: url('../assets/acepto2.png') no-repeat!important;

}

.btn-noacepto {
	position: absolute!important;
	top: 400px!important;
	left: 30px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/noacepto1.png') no-repeat!important;

}

.btn-noacepto:hover {
	background: url('../assets/noacepto2.png') no-repeat!important;
}


.escribe-img{
    position: absolute!important;
    left: 30px!important;
    bottom: 330px!important;
    height: 67px!important;
    width: 800px!important;
}


input[type=email] {
	position: relative!important;
	bottom: 200px!important;
	width: 800px!important;
    font-family: TheMixB-W8ExtraBold;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid white; 
	color: rgb(254,197,61);
	font-size: 30px!important;
	padding: 5px 10px 5px 10px;
	background: rgba(255,255,255,0);
	margin: 0 0 10px 0;
	text-align: center;	
}

.btn-regresar {
	position: absolute!important;
	bottom: 60px!important;
	left: 300px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/noenviar1.png') no-repeat!important;

}

.btn-regresar:hover {
	background: url('../assets/noenviar2.png') no-repeat!important;
}
.btn-continuar {
	position: absolute!important;
	bottom: 60px!important;
	right: 100px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/continuar1.png') no-repeat!important;

}

.btn-continuar:hover {
	background: url('../assets/continuar2.png') no-repeat!important;
}







.select{
	position: absolute!important;
	top: 10000px!important;
	display: hidden!important;
}
.foto-silueta{
    position: absolute!important;
    top: 90px !important;
    left: 450px!important;
    max-width: 600px!important;
    max-height: 400px!important;
    z-index: 2!important;
}


.banner{
    position: absolute!important;
    max-width: 1400px!important;
    max-height: 1700px!important;
    top: 600px !important;
    left: -100px!important;
    z-index: 2!important;
    display: none;

}
.calado{
	position: absolute!important;
	top: -150px !important;
    right: -80px !important;
	z-index: 1!important;
	max-height: 1200px!important;
    max-width: 1400px!important;
}
.stretch{
	/*border-radius:50% !important;*/
	position: absolute!important;
	top: 40px!important;
	left:80px!important;
	width:1080px!important; 
	height:720px!important;
	z-index: 0!important;
}


#videoElement {
	
    width: 1320px!important;
    height: 1000px!important;
}

.toma-foto{
    position: absolute!important;
    top: -25px!important;
    left: 300px!important;
    max-height: 100px!important;
    max-width: 600px!important;
    z-index: 2!important;
}


#snap {
	position: absolute!important;
	top: 610px!important;
	left: 550px!important;
	height: 117px!important;
	width: 126px!important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:none;
	z-index: 2!important;
	display: block; 
	background: url('../assets/camara1.png') no-repeat!important;

}

#snap:hover {
	background: url('../assets/camara2.png') no-repeat!important;
}


.texto-foto {
	position: absolute!important;
	top: 700px!important;
	left: 300px!important;
    font-size: 20pt!important;
   font-family:TheMixB-W8ExtraBold!important;
    color: rgb(254,197,61)!important;
     height: 40px!important;
     text-transform: none!important;
     z-index: 2!important;
     display: block;
}


.btn-si {
	position: absolute!important;
	top: 600px!important;
	left: 180px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/repetir1.png') no-repeat!important;

}

.btn-si:hover {
	background: url('../assets/repetir2.png') no-repeat!important;
}



.btn-no {
	position: absolute!important;
	top: 600px!important;
	right: 100px!important;
	height: 84px!important;
	width: 232px!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 1px!important;
	padding: 10px 50px 10px 50px!important;
	background: url('../assets/continuar1.png') no-repeat!important;

}

.btn-no:hover {
	background: url('../assets/continuar2.png') no-repeat!important;
}

#canvas{
	position: absolute!important;
	left: 350px!important;
    top: 70px!important;
    border: 10px solid rgb(255,255,255) !important;
}

.foto-repetir{
    position: absolute!important;
    left: 300px!important;
    top: -20px!important;
    max-height: 70px!important;
    max-width: 300!important;
}


.texto-final {
	position: absolute!important;
	top: -20px!important;
    left: 280px!important;
    font-size: 45px !important;
   font-family:TheMixB-W8ExtraBold!important;
    color: rgb(255,255,255)!important;
     height: 40px!important;
     text-transform: none!important;
     display: none;
}



@font-face{
   font-family:"CalcitePro-Black";
   src:url(../fonts/CalcitePro-Black.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W6SemiBold";
   src:url(../fonts/TheMixB-W6SemiBold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W7Bold";
   src:url(../fonts/TheMixB-W7Bold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W8ExtraBold";
   src:url(../fonts/TheMixB-W8ExtraBold.otf) format("opentype");
}


@font-face{
   font-family:"TheMixB-W9Black";
   src:url(../fonts/TheMixB-W9Black.otf) format("opentype");
}
